{
    "dev": {
        "REPO_BRANCH":"feature/removing-pipeline",
        "GITHUB_TOKEN_SECRET_ID": "rtbkit-github-token"
    },
    "shared": {
        "ROOT_STACK_NAME": "aws-rtbkit",
        "STACK_VARIANT": "DynamoDBBasic",
        "REPO_OWNER":"",
        "REPO_NAME":""
    }
}